--extra-index-url https://download.pytorch.org/whl/cu118
pillow==9.5.0
numpy==1.23.5
pandas==2.0.1
torch==2.0.1+cu118 
torchvision==0.15.2+cu118
torchaudio==2.0.2
torchmetrics==0.11.4
pytorch-lightning==1.7.0
diffusers==0.19.3
datetime==5.1
xformers==0.0.21
opencv-python
PyQt6
qt_thread_updater
scipy
accelerate==0.14.0
bitsandbytes
